/*body {background-image: url("formation-piscine-eau-couler-emerger.jpg")}*/
body {
    background-image: url("Swimming-Pool.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;}

.taustavari {background-color: rgba(242, 242, 242 ,0.8)}