<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet"th:href="@{/css/tyyli.css}"/>
    <title>Aiheen keskustelut</title>
</head>
<body>
<div>
    <table>
        <th>Keskustelut</th>
        <tr th:each="taulukkoMuuttuja : ${otsikonnimi}" th:object="${taulukkoMuuttuja}">
            <td ><a th:href="@{/viestisivu}+'?id='+*{id}" th:text="*{otsikonNimi}"/></td>

        </tr>
    </table>
</div>

<form action="#" th:action="@{/aiheenkeskustelut}" th:object="${uusiotsikko}" method="post">
    <p> <input th:type="hidden" th:name="aihealue" th:id="aihealue" th:value="${aihealueennimi}" /></p>
    <p>Aloita uusi keskustelu aiheesta: <input th:type="text" th:field="*{otsikonNimi}"/> </p>
    <p><input type="submit" value="Lähetä" /> <input type="reset" value="Tyhjennä"/></p>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>