<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="tyyli.css" th:href="@{/tyyli.css}"/>
    <title>Etusivu</title>
</head>
<body>
<h1>Keskustelufoorumi</h1>

<div>
    <table>
        <tr th:each="taulukkoMuuttuja : ${otsikko}" th:object="${taulukkoMuuttuja}">
            <td th:text="*{aihealue}"></td>
            <td th:text="*{otsikonNimi}"></td>
            <td th:text="*{id}"></td>
        </tr>
    </table>
</div>
<div>
    <h3>Kirjaudu sisään</h3>
    <form>
        Käyttäjätunnus:<br>
        <input type="text" name="käyttäjätunnus"><br>
        Salasana:<br>
        <input type="password" name="salasana">
        <input type="submit">
    </form>
    <a href="rekisteroidy.html">Rekisteröidy käyttäjäksi</a>
</div>

</body>
</html>