<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/tyyli.css}"/>
    <title>Etusivu</title>
</head>
<body>
<div class="container">
    <!--navigointipalkki-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="etusivu">Etusivu</a>
        </div>
        <!--Käyttäjä voi kirjautua sisään jo olemassa olevilla tunnuksilla tai siirtyä sivulle, jossa voi -->
        <!--luoda tunnukset.-->
        <ul class="nav navbar-nav navbar-right" style="padding-right: 2%">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Kirjaudu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <div>
                        <form class="navbar-brand">
                            Käyttäjätunnus:<br>
                            <input type="text" name="käyttäjätunnus"><br>
                            Salasana:<br>
                            <input type="password" name="salasana">
                            <input type="submit">
                        </form>
                    </div>
                </ul>
            </li>


            <li><a href="rekisteroidy">Rekisteröidy</a></li>

            <!--hakuruutu:-->
            <li>
                <form class="navbar-brand" action="/haetut">
                    <input type="text" name="hakusana" placeholder="Hae foorumilta">
                    <button type="submit">
                        Hae
                    </button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="jumbotron text-center" style="background-color: rgba(242, 242, 242 ,0.8)">
        <h1>Uintifoorumi</h1>
        <p>Tervetuloa keskustelemaan uinnista!</p>
    </div>
    <!--Listataan aihealueet tietokannasta taulukoksi. Aihealueen nimi on linkki, joka johtaa-->
    <!--aiheen alla oleviin keskusteluihin.-->

    <div class="row" style="background-color: rgba(242, 242, 242 ,0.5)">
        <div class="col-sm-6">
            <table class="list-group">
            <th><h3>Keskusteluaiheet</h3></th>
            <tr th:each="taulukkoMuuttuja : ${otsikko}" th:object="${taulukkoMuuttuja}">
                <td class="list-group-item"><a th:href="@{/aiheenkeskustelut}+'?id='+${taulukkoMuuttuja}" th:text="${taulukkoMuuttuja}"/></td>
            </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <p class="text-left">
                <br>
                <br>
                Kaikki uintiin liittyvä keskustelu on toivottavaa ja sallittua. Pidetään keskustelu siistinä
                ja asiallisena. Moderaattoreilla on mahdollisuus poistaa asiattomat kommentit ja keskustelun aloitukset.
                Jos kuitenkin haluat purkaa ärtymystäsi, tee see rataraivo aiheen alla olevissa keskusteluissa.
            </p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>