<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/tyyli.css}"/>
    <title>Etusivu</title>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center" style="background-color: rgba(242, 242, 242 ,0.8)">
        <h1>Uintifoorumi</h1>
        <p>Tervetuloa keskustelemaan uinnista!</p>
        <h5>Kaikki uintiin liittyvä keskustelu on toivottavaa ja sallittua. Pidetään keskustelu siistinä
        ja asiallisena. Moderaattoreilla on mahdollisuus poistaa asiattomat kommentit ja keskustelun aloitukset.
        Jos kuitenkin haluat purkaa ärtymystäsi, tee see rataraivo aiheen alla olevissa keskusteluissa.</h5>
    </div>
    <!--Listataan aihealueet tietokannasta taulukoksi. Aihealueen nimi on linkki, joka johtaa-->
    <!--aiheen alla oleviin keskusteluihin.-->

    <div class="row" style="background-color: rgba(242, 242, 242 ,0.5)">
        <div class="col-sm-6">
            <table>
            <th><h3>Keskusteluaiheet</h3></th>
            <tr th:each="taulukkoMuuttuja : ${otsikko}" th:object="${taulukkoMuuttuja}">
                <td><a th:href="@{/aiheenkeskustelut}+'?id='+*{aihealue}" th:text="*{aihealue}"/></td>
            </tr>
            </table>
        </div>
        <!--Käyttäjä voi kirjautua sisään jo olemassa olevilla tunnuksilla tai siirtyä sivulle, jossa voi -->
        <!--luoda tunnukset.-->
        <div class="col-sm-6">
            <h3>Kirjaudu sisään</h3>
            <form>
                Käyttäjätunnus:<br>
                <input type="text" name="käyttäjätunnus"><br>
                Salasana:<br>
                <input type="password" name="salasana">
                <input type="submit">
            </form>
            <a href="rekisteroidy.html">Rekisteröidy käyttäjäksi</a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>