<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/tyyli.css}"/>
    <title>Haetut keskustelut/ viestit</title>
</head>
<body>
<div class="container">
    <!--Navigointipalkki:-->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="etusivu">Etusivu</a>
        </div>
        <!--Käyttäjä voi kirjautua sisään jo olemassa olevilla tunnuksilla tai siirtyä sivulle, jossa voi -->
        <!--luoda tunnukset.-->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Kirjaudu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <div>
                        <form>
                            Käyttäjätunnus:<br>
                            <input type="text" name="käyttäjätunnus"><br>
                            Salasana:<br>
                            <input type="password" name="salasana">
                            <input type="submit">
                        </form>
                    </div>
                </ul>
            </li>
            <li><a href="rekisteroidy">Rekisteröidy</a></li>
            <li>
                <form action="/haetut">
                    <input type="text" name="hakusana" placeholder="Hae keskusteluista">
                    <button type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="jumbotron text-center" style="background-color: rgba(242, 242, 242 ,0.8)">
        <h1>Hakutulokset</h1>
        <p></p>
    </div>
    <!--Listataan aihealueet tietokannasta taulukoksi. Aihealueen nimi on linkki, joka johtaa-->
    <!--aiheen alla oleviin keskusteluihin.-->

    <div class="row" style="background-color: rgba(242, 242, 242 ,0.5)">
        <div class="col-sm-12">
            <table class="list-group">
                <!--Haetaan hakusanaan sopivat keskustelun aiheet:-->
                <tr th:each="taulukkoMuuttuja : ${loytynytKeskustelu}" th:object="${taulukkoMuuttuja}">
                    <td class="list-group-item"><a th:href="@{/aiheenkeskustelut}+'?id='+${taulukkoMuuttuja}" th:text="${taulukkoMuuttuja}"/></td>
                    <td button type="button"><a th:href="MIHIN HALUTAAN MENNÄ"></a></td>
                </tr>
                <!--haetaan hakusanaan sopivat viestit-->
               <tr th:each="toinenMuuttuja : ${loytynytViesti}" th:object="${toinenMuuttuja}">
                   <td class="list-group-item" th:text="${toinenMuuttuja}"></td>
                   <td button type="button"><a th:href="MIHIN HALUTAAN MENNÄ"></a></td>
               </tr>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>