<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet"th:href="@{/css/tyyli.css}"/>
    <title>Rekisteröityminen</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="etusivu">Etusivu</a>
            </div>
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="etusivu.html">Etusivu</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="rekisteroidy">Rekisteröidy</a></li>
            </ul>
        </div>
    </nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>