<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet"th:href="@{/css/tyyli.css}"/>
    <title>Viestisivu</title>

</head>
<body>
<h1 th:text="${viesti}"> </h1>

<div class="">
    <table>
        <tr th:each="taulukkoMuuttuja : ${viesti}" th:object="${taulukkoMuuttuja}">
            <td th:text="*{sisalto}"></td>
            <!--<td th:text="*{pvm}"></td>-->
            <!--<td th:text="*{jotain muuta}"></td>-->
        </tr>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>