<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/tyyli.css}"/>
    <title>Viestinmuokkaussivu</title>

</head>
<body>
<div class="container" >
    <!--navigointipalkki-->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="etusivu">Etusivu</a>
        </div>
        <!--Käyttäjä voi kirjautua sisään jo olemassa olevilla tunnuksilla tai siirtyä sivulle, jossa voi -->
        <!--luoda tunnukset.-->
        <ul class="nav navbar-nav navbar-right" style="padding-right: 2%">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Kirjaudu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <div>
                        <form class="navbar-brand">
                            Käyttäjätunnus:<br>
                            <input type="text" name="käyttäjätunnus"><br>
                            Salasana:<br>
                            <input type="password" name="salasana">
                            <input type="submit">
                        </form>
                    </div>
                </ul>
            </li>


            <li><a href="rekisteroidy">Rekisteröidy</a></li>

            <!--hakuruutu:-->
            <li>
                <form class="navbar-brand" action="/haetut">
                    <input type="text" name="hakusana" placeholder="Hae foorumilta">
                    <button type="submit">
                        Hae
                    </button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="row" style="background-color: rgba(242, 242, 242 ,0.6)">
    <h1 >Muokkaa viestiä </h1>

    <form action="#" th:action="@{/muokkausok}" th:object="${muokattu}" method="post">

        <input type="hidden" th:value="${otsikkoteksti.id}" th:name="'otsikko.id'">
        <input type="hidden" th:field="*{tunniste}"/>
        <div class="form-group row">
            <label class="col-sm-2 col-sm-offset-1 col-form-label" th:for="*{kirjoittaja}">Nimimerkkisi: </label>
            <div class="col-sm-8">
                <h3 th:text="${muokattu.kirjoittaja}"> </h3>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-sm-offset-1 col-form-label" th:for="*{sisalto}">Viestisi: </label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" th:field="*{sisalto}"></textarea>
            </div>
        </div>

        <input type="hidden" th:field="*{lahetysAika}">

        <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary">Lähetä</button>
                <button type="reset" class="btn btn-primary" >Tyhjennä</button>
            </div>
        </div>
    </form>
    </div>


</body>
</html>